html {
    background-color: black;
}

p {
    color: chartreuse;
}

a:link {
    color: green;
}

a:visited {
    color: seagreen;
}

a:hover {
    color: darkgreen
}

a:active {
    color: darkseagreen;
}

li {
    color: lawngreen;
}