html {
	background-color:
  	slategrey;
}

/* Styling my tabs */
.tab {
	overflow:
		hidden;
	border:
		1px solid #ccc;
	background-color:
		aliceblue;
}

/* Styling my buttons */
.tab button {
	background-color:
		inherit;
  float:
		left;
  border:
		none;
  outline:
		none;
  cursor:
		pointer;
  padding:
		14px 16px;
  transition:
		0.3s;
}

.tab button:hover {
	background-color:
		azure;
}

.tab button.active{
	background-color: 
		deepskyblue;
}

/* Styling my tab content */
.tabcontent {
	display:
		none;
	padding:
		6px 12px;
	border:
		1px solid;
	border-top:
		none;
}